/vendor
/.phpdoc
composer.phar
composer.lock
.php_cs.cache
.DS_Store
Thumbs.db
/nbproject/**/*
/nbproject
/.idea
/.idea/*.*
/_cache/*.*
/_cache/**/*
/_cache/*
*.log
.Spotlight-V100
.Trashes
Icon
desktop.ini
